<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogDog.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LogDog.Settings>
            <setting name="HostFileBlockStart" serializeAs="String">
                <value>### LogDog</value>
            </setting>
            <setting name="HostFileBlockEnd" serializeAs="String">
                <value>###</value>
            </setting>
            <setting name="FoldersToMonitor" serializeAs="String">
                <value>d$\dev\projects\logdog\logdog\bin</value>
            </setting>
            <setting name="FilenameFilter" serializeAs="String">
                <value>*.log</value>
            </setting>
            <setting name="HistoryInDays" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HostsFilename" serializeAs="String">
                <value>d:\dev\projects\logdog\logdog\bin\hosts</value>
            </setting>
        </LogDog.Settings>
    </userSettings>
</configuration>